/* Skills.css */
.skills {
  padding: 20px 0;
  border: none;
}

.skills h2 {
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 개의 열로 배치 */
  column-gap: 40px; /* 두 열 사이의 간격 */
  padding-left: 30px;
  border-left: 2px solid #ddd;
  position: relative;
}

.skill-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px; /* 점과 텍스트 간격을 위해 패딩 추가 */
}

.skill-group::before {
  content: "";
  position: absolute;
  left: -20px; /* 점의 위치를 타임라인에 맞추기 위해 왼쪽으로 조정 */
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.skill-group h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-group p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
